.input {
  border: none;
  border-bottom: 1px solid var(--gray-01);
  background-color: transparent;
  padding: 10px 0 16px 0;
  width: 100%;
  height: 48px;
  font-size: 18px;
  line-height: 22px;
}

@media only screen and (max-width: 1024px) {
  .input {
    font-size: 14px;
    line-height: 20px;
  }
}

.input:focus {
  outline: none;
  border-bottom: 1px solid;
}

.input::placeholder {
  color: var(--black);
  font-size: 18px;
  line-height: 22px;
}
