.text-area {
  border: solid 1px var(--gray-01);
  border-radius: 12px;
  background-color: transparent;
  padding: 14px 18px;
  width: 100%;
  resize: none;
}

.text-area,
.text-area::placeholder {
  color: var(--black);
  font-size: 18px;
  line-height: 22px;
  font-family: inherit;
}

@media only screen and (max-width: 1024px) {
  .text-area {
    height: 220px;
  }
  .text-area,
  .text-area::placeholder {
    font-size: 14px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 640px) {
  .text-area {
    height: 223px;
  }
  .text-area,
  .text-area::placeholder {
    font-size: 14px;
    line-height: 17.85px;
  }
}

.text-area:focus {
  outline: none;
  border: 1px solid;
}
