.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 48px var(--padding-page) 0 var(--padding-page);
}

.header__logo {
  display: flex;
  place-items: center;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 0px 48px 0px 48px;
  font-weight: 900;
  font-size: 21.49px;
  line-height: 36.84px;
  text-transform: uppercase;
}

.header__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  gap: 64px;
  list-style-type: none;
}

.header__menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.header__menu-item:hover {
  cursor: pointer;
  color: var(--orange);
}

.header__menu-item a {
  text-decoration: none;
}
.header__menu-item a:active {
  text-decoration: underline;
}
