.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 48px var(--padding-page) 0 var(--padding-page);
}

@media only screen and (max-width: 1024px) {
  .header {
    padding: 18px var(--padding-page) 0 var(--padding-page);
  }
}

@media only screen and (max-width: 640px) {
  .header {
    padding: 32px var(--padding-page) 0 var(--padding-page);
  }
}

.header__logo {
  display: grid;
  place-items: center;
  border-radius: 10px;
  background-color: #ffffff;
  width: 161px;
  height: 40px;
  font-weight: 900;
  font-size: 21.49px;
  line-height: 36.84px;
  letter-spacing: 0.77px;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (max-width: 640px) {
  .header__logo {
    width: 113px;
    height: 28px;
    font-size: 15.08px;
    line-height: 25.85px;
    letter-spacing: 0.54px;
  }
}

.header__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  gap: 64px;
  list-style-type: none;
}

.header__menu-list_sidebar {
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.header__menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.header__menu-item:hover {
  cursor: pointer;
  color: var(--orange);
}

.header__menu-item a {
  text-decoration: none;
}
.header__menu-item a:active {
  text-decoration: underline;
}

.menu-button {
  display: none;
  cursor: pointer;
  border: none;
  background: url("/assets/menu.svg") no-repeat center center;
  background-size: 100% 100%;
  width: 44px;
  height: 44px;
}

@media only screen and (max-width: 1024px) {
  .menu-button {
    display: block;
  }
  .header__menu:not(.header__menu_sidebar) {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .menu-button {
    width: 32px;
    height: 32px;
  }
}
